.searchersBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.searchByTypeBox select{
    border: none;
    padding: 0.2rem 0.5rem;
}

.pagesBox button{
    border: none;
    padding: 0.2rem 0.5rem;
    margin: 0 0.2rem;
    border-radius: .2rem;
}
